<!DOCTYPE html>
%html
    %head>
        %title Project 3 CSE 461
        %link{rel: "stylesheet", href: "css/style.css"}
        %script{src: "js/script.js"}
    %body
        %center
            %h1 webRTC roulette
            %video{id: "player", autoplay:"true"}
